html {
    margin : 0;
    padding: 0;
    min-width: 1500px;
    font-family: Maiandra GD;
    height: 100%;
}

body{
    margin : 0;
    padding: 0;
    min-width: 1500px;
    font-family: Maiandra GD;
    color: black;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.HeaderHeader {
    background: black;
    height: 150px;
    width: 100%;
    box-shadow: -2px 5px 10px black;
}

.login_register {
    padding-top: 20px;
    margin-right: 5%;
    padding-bottom: 0;
    background: Black;
  }
  
.login_register .image_login_register {
    width: auto;
    height: 25px;
    float:right;
}

.login_register ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 50px;
    overflow: hidden;
}

.login_register li {
    float:right;
    font-size: 18px;
    color: #cccccc;
    font-family: Maiandra GD;
    display: block;
}

.login_register li a{
    padding-left: 10px;
    text-decoration: none;
    color: #cccccc;
    padding-top: 35px;
}

.menu a {
    font-size: 25px;
    float: left;
    padding: 0px 40px;
    padding-top: 60px;
    text-decoration: none;
    color: #cccccc;
}

.menu h3 {
    font-size: 30px;
    float: left;
    padding: 30px 40px;
    text-shadow: 1px 1px 1px white;
    color: #cccccc;
}

header {
    background-color: black;
    min-width: 1500px;
    height: 130px;
    box-shadow: -2px 5px 10px black;
    font-family: Maiandra GD;
    font-size: 35px;
}

header .logo {
    float: left;
    margin-left: 10px;
    width: 280px;
    height: 120px;
}

#cart {
    width: 40px;
    height: auto;
    
}

.menu .cart_position {
    float: right;
    margin-right: 5%;
}

/*Footer*/
.FooterFooter {
    background-color: black;
    font-family: Maiandra GD;
    height: 250px;
    min-width: 1500px;
    margin-top: auto;
}

.FFooterIcon {
    margin-left: 10px;
    margin-top: 20px;
    float: left;
}

.FFooterBlocks {
    font-family: Maiandra GD;
    color: #b3b3b3;
    background-color: black;
    width: 270px;
    height: 90px;
    display: inline;
    float: right;
}

.FFooterBlocks h3 {
    text-align: left;
    padding-left: 15%;
    list-style-type: none;
    text-align: left;
}

.FFooterIcon img {
    width: 300px;
    height: 130px;
}

#FooterLine {
    border-top: #b3b3b3;
    position: relative;
}

.FFooterUpperPortion {
    height: 140px;
}

.FFooterLowerPortion {
    text-align: center;
}

.Disclaimer {
    color: #b3b3b3;
}

/*main*/

/*cart table*/
table{
    max-width: 100%;
    min-width: 100%;
    margin-top:0.2%;
    font-size:21px;
}

.table td {
	border-bottom: #F0F0F0 1px solid;
	padding: 20px;
	}

/*image*/
img {
    width: 30px;
    height: 30px;
}

/*check out*/

.b2 {
    padding: 20px;
    margin-right: 53px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 10%;
    font-size: 21px;
  }
  
.b2:hover {
    background-color: rgb(155, 153, 153);
  }

.button {
    outline: 2;
    border-color: rgb(221, 26, 26);
    padding: 8px;
    color: rgb(221, 26, 26);
    background-color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 10%;
    margin-left: auto;
    margin-right: 3.6%;
  }
  
.button:hover {
    background-color: rgb(233, 231, 231);
  }

.spacing {
    display: flex;
    flex-direction: column;
    min-height:95vh;
}

