html,
body {
  margin-top: 0;
  padding: 0;
  font-family:  Maiandra GD;
  scroll-padding-top: 200px;
}

/*Header*/
.HeaderHeader {
  background: black;
  height: 180px;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: -2px 5px 10px black;
}

.SearchButton {
  background: Black;
  color: #b3b3b3;
  font-family: Maiandra GD;
  border-width: 1px;
}

.login_register {
  padding-top: 20px;
  margin-right: 5%;
  padding-bottom: 0;
  background: Black;
}

.login_register .image_login_register {
  width: auto;
  height: 25px;
  float:right;
}

/*.navigation {
  background: #000000;
  color: #eae2d8;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}*/

.login_register ul {
  list-style-type: none;
  margin: 0px;
  padding-right: 50px;
  overflow: hidden;
}

.login_register li {
  float:right;
  font-size: 18px;
  color: #cccccc;
  font-family: Maiandra GD;
  display: block;
}

.login_register li a{
  padding-left: 10px;
  text-decoration: none;
  color: #cccccc;
  padding-top: 35px;
}

/*.navigation li {
  float: left;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 25px;
  color: #cccccc;
  font-family: Maiandra GD;
  display: block;
  padding-top: 35px;
}*/


.logo {
  float: left;
  width: 280px;
  height: 120px;
}

/*.navigation li a:link {
  color: #b3b3b3;
}

.navigation li a:visited {
  color: #b3b3b3;
}

.navigation li a:hover {
  color: #e6e6e6;
}

.navigation li a {
  text-decoration: none;
}*/

.search li {
  float: right;
}

/*Footer*/
.FooterFooter {
  background-color: black;
  font-family: Maiandra GD;
  height: 280px;
  padding: 30px;
  min-width: 1500px;
}

.FFooterIcon {
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}

.FFooterBlocks {
  font-family: Maiandra GD;
  color: #b3b3b3;
  background-color: black;
  width: 270px;
  height: 90px;
  display: inline;
  float: right;
}

.FFooterBlocks h3 {
  text-align: left;
  margin-left: 15%;
  list-style-type: none;
  text-align: left;
}

.FFooterIcon img {
  width: 300px;
  height: 130px;
}

#FooterLine {
  border-top: #b3b3b3;
  position: relative;
}

.FFooterUpperPortion {
  height: 140px;
}

.FFooterLowerPortion {
  text-align: center;
}

.Disclaimer {
  color: #b3b3b3;
}


* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* slidebanner container */
.slidebanner-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 0;
  padding-top: 230px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(196, 192, 192, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dotbullet {
    text-align: center;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 5%;
  padding: 20px 0;
  font-family: Maiandra GD;
}

.card {
  min-height: 460px;
  max-height: 460px;
  min-width: 450px;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.card img {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.PadCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  width: 87%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.grid-container {
  text-align: center;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row h3{
  font-family: Maiandra GD;
  font-size:25px;
  padding-left: 150px;
}

.title {
  color: grey;
}

.Showcase {
  text-align: left;
  min-width: 1500px;
  padding-left: 150px;
}

.page1-title {
  font-size: 28px;
  text-align: left;
  font-family: Maiandra GD;
  padding-left: 150px;
}

.page2-main-background {
  overflow: auto;
  background-color: rgb(221, 221, 221);
  min-width: 1500px;
}

.page2-title {
  font-size: 30px;
  text-align: center;
}

.page2-title hr {
  width: 87%;
  border-width: 5px;
}

.page2-row:after {
  content: "";
  display: table;
  clear: both;
}

.page2-container {
  float: left;
  width: 50%;
  padding: 50px 100px;
}

.page2-container img {
  align-items: center;
  height: 220px;
  width: 220px;
}

.page2-container-text {
  float: right;
  width: 50%;
}

.page2-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 60%;
}

.page2-button:hover {
  background-color: #555;
}

/******sidebar*********/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #acacac;
  display: block;
  transition: 0.3s;
  font-family: Maiandra GD;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#Push_header, #Push_footer {
  transition: .5s ease-in-out;
}

#Push_main{
  transition: .5s ease-in-out;
}

#expand_sidenav {
  font-size:25px;
  cursor:pointer; 
  font-family:Maiandra GD;
  position: fixed;
  z-index: 1;
  background-color: black;
  color: #cccccc;
  padding-left: 5px;
  padding-right: 15px;
  transition: .5s ease-in-out;
  padding-bottom: 15px;
  float: left;
}

