html,
body {
  margin: 0;
  padding: 0;
}

.HeaderHeader {
  background: black;
  min-width: 1500px;
}

.HeaderHeader img {
  width: 300px;
  height: 135px;
}

.SearchButton {
  background: Black;
  color: #b3b3b3;
  font-family: Maiandra GD;
  border-width: 1px;
}
.navigation {
  padding: 40px;
  background: #000000;
  color: #eae2d8;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: left;
  padding: 20px 32px;
  font-size: 25px;
  color: #cccccc;
  font-family: Maiandra GD;
  display: block;
}

.logo {
  vertical-align: top;
  float: left;
  margin-left: 10px;
}

.navigation li a:link {
  color: #b3b3b3;
}

.navigation li a:visited {
  color: #b3b3b3;
}

.navigation li a:hover {
  color: #e6e6e6;
}

.navigation li a {
  text-decoration: none;
}

.search li {
  float: right;
}

.FooterFooter {
  background-color: black;
  font-family: Maiandra GD;
  height: 280px;
  padding: 30px;
  min-width: 1500px;
}

.FFooterIcon {
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}

.FFooterBlocks {
  font-family: Maiandra GD;
  color: #b3b3b3;
  background-color: black;
  width: 270px;
  height: 90px;
  display: inline;
  float: right;
}

.FFooterBlocks h3 {
  text-align: left;
  padding-left: 15%;
  list-style-type: none;
  text-align: left;
}

.FFooterIcon img {
  width: 300px;
  height: 130px;
}

#FooterLine {
  border-top: #b3b3b3;
  position: relative;
}

.FFooterUpperPortion {
  height: 140px;
}

.FFooterLowerPortion {
  text-align: center;
}

.Disclaimer {
  color: #b3b3b3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 525px;
  background-color: rgb(221, 221, 221);
  text-align: center;
}

.column2 {
  float: left;
  width: 50%;
  padding: 0px 100px;
  height: 525px;
  background-color: rgb(221, 221, 221);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%; 
  margin-bottom: 30px;
  padding: 10px 60px;
}

.card {
  min-height: 400px;
  max-height: 400px;
  min-width: 450px;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-left: -15px;
}

.card img {
  width: 250px;
  height: 250px;
}

.PadCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  width: 87%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.Showcase {
  text-align: center;
  min-width: 1500px;
}

.HomepageBanner {
  height: 400px;
  width: 1500px;

  padding: 10px;
}

.page1-title {
  font-size: 30px;
  text-align: center;
}

.page2-main-background {
  overflow: auto;
  background-color: rgb(221, 221, 221);
  min-width: 1500px;
}

.page2-title {
  font-size: 30px;
  text-align: center;
}

.page2-title hr {
  width: 87%;
  border-width: 5px;
}

.page2-row:after {
  content: "";
  display: table;
  clear: both;
}

.page2-container {
  float: left;
  width: 50%;
  padding: 50px 100px;
}

.page2-container img {
  align-items: center;
  height: 220px;
  width: 220px;
}

.page2-container-text {
  float: right;
  width: 50%;
}

.page2-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 60%;
}

.page2-button:hover {
  background-color: #555;
}